
*{
    margin: 0px;
    padding: 0px;
}

/* css variables */
:root{
    --navbar-height:59px;
}
.navbar{
    display: flex;
    align-items: center;
    margin: -15px 0px;
}
.logo{
    margin: 33px 34px;
}
.logo img{
    margin: -35px -18px;
    height: 55px;
    position: relative;
    bottom: 19px;
}
.navbar ul{
    display: flex;
}
.navbar::before{
    content: "";
    background-color: rgb(85, 85, 85);
    position: absolute;
    height: 9%;
    width: 100vw;
    z-index: -1;
}
.navbar ul li{
    padding: 5px;
    margin: 1px;  
    font-size: 5.5px; 
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: rgba(250, 235, 215, 0.877);
}
.navbar ul li a:hover{
    text-decoration: underline;
    background-color: rgba(207, 137, 137, 0.966);
}
#homeid:active{
    text-decoration: underline;
    background-color: rgba(207, 137, 137, 0.966);
}
/* #homeid{
    text-decoration: underline;
    color: aquamarine;
*/
#home h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    /*heading ko pooe bgimg mei move kiya hai filhal*/
    position: relative; 
    top: -2px;
}
/* #home{
    height: 550px;
} */
#home::before{
    content: "";
    background: url(../img2/bgimg.jpg) no-repeat center center/cover;
    position: absolute;
    height: 9%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    /* margin: -55px 0px; poore mei bgimg lagana */
    margin-top: -2px; /*navigation ke neeche se bg img lagana */
}
.category h4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgb(9, 37, 63);
    position: relative;
    top: 11px;
    font-family: font-family: 'Fredoka', sans-serif;
}
.item{
    /* display: flex; */
    font-size: 9px;
    font-family: 'Fredoka', sans-serif;
}
.tshirtclass{
    /* border: 2px solid red; */
     border-radius: 3px;
    margin: 10px -5px;
    padding: 3px;
} 
.denimclass{
    border-radius: 3px;
    margin: -8px 4px;
    padding: 0px;
}
.dressclass{
    /* border: 2px solid red; */
    border-radius: 3px;
    margin: 15px 4px;
    padding: -1px;
}
.loungewearclass{
    /* border: 2px solid red; */
    border-radius: 3px;
    margin: -5px 4px;
    padding: -1px;
}
.helpclass{
    border-radius: 3px;
    margin: 47px -2px;
    padding: -1px;
}
.tshirtclass img{
    height: 109px;
    width: 90px;
}
#tshirtid{
    position: relative;
    left: 315px;
}
.tshirtclass::before{
    background-color: bisque;
    content: "";
    /* overflow: visible; */
    position: absolute;
    height: 109px;
    width: 100vw;
    z-index: -1;
    margin: 0px;
}
.tshirtclass{
    display: flex;
}
.flexcolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 0px 54px;
}
.btn{
    position: relative;
    top: 29px;
    text-decoration: underline;
    color: rgba(177, 85, 31, 0.897);
    font-size: 8px;
    border: 0px;
    background-color:bisque;
    cursor: pointer;
}
.btn:hover{
    color:grey;
}
.denimclass::before{
    background-color:darkgray;
    content: "";
    position: absolute;
    height: 109px;
    width: 100vw;
    z-index: -1;
    margin: -5px;
}
.denimclass{
    display: flex;
}
.denimclass img{
    height: 109px;
    width: 90px;
    position: relative;
    left: 315px;
    margin: -5px -6px;
}
.denimclass a{
    background-color: darkgrey;
}
.dressclass::before{
    background-color:rgb(183, 190, 172);
    content: "";
    position: absolute;
    height: 109px;
    width: 100vw;
    z-index: -1;
    margin: -5px;
}
.dressclass img{
    height: 109px;
    width: 90px;
    position: relative;
    left: 315px;
    margin: -5px -6px;
}
.dressclass a{
    background-color:rgb(183, 190, 172) ;
}
.dressclass{
    display: flex;
}
.loungewearclass::before{
    background-color:rgb(253, 198, 207);
    content: "";
    position: absolute;
    height: 109px;
    width: 100vw;
    z-index: -1;
    margin: -5px;
}
.loungewearclass img{
    height: 109px;
    width: 90px;
    position: relative;
    left: 315px;
    margin: -5px -6px;
}
.loungewearclass a{
    background-color:rgb(253, 198, 207);
}
.loungewearclass{
    display: flex;
}
.newarrival h3{
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 12px; */
    position: relative;
    top: 25px;
    font-family: 'Josefin Sans', sans-serif;
}
.addon img{
    height: 83px;
    width: 74px;
}
.addon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 27px;
}
.addon::before{
    background: url(../img2/addonbg.jpg);
    content: "";
    /* overflow: visible; */
    position: absolute;
    height: 150px;
    width: 100vw;
    z-index: -1;
    margin: 0px;
}
#bagid{
    margin: 0px 12px;
    transition: scale 2s ease-in;
}
#bagid:hover{
    transform: scale(1.5);
}
#cosmeticid{
    margin: 0px 12px;
    transition: scale 2s ease-in;
}
#cosmeticid:hover{
    transform: scale(1.5);
}
#perfumeid{
    margin: 0px 12px;
    transition: scale 2s ease-in;
}
#perfumeid:hover{
    transform: scale(1.5);
}
#newid{
    position: relative;
    left: 173px;
    top: 38px;
    background-color: rgb(255, 220, 226);
}
.formclass{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 10px;
}
.formclass input{
    padding: 2px 29px;
    margin: 1px 3px;
    font-size: 5px;
}
.formclass textarea{
    padding: 2px 3px;
    margin: 1px -9px;
    font-size: 5px;
}
#helpcentre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: relative;
    top: 10px;
    margin: 5px;
    font-family: 'Josefin Sans', sans-serif;
}
#login{
    position: relative;
    left: 125px;
}
.copy{
    background-color: black;
    color: white;
    font-size: 8px;
    padding: 5px 6px;
}
.helpclass::before{
    background: url(../img2/contactnew.jpg) no-repeat center center/cover;
    content : "";
    position : absolute;
    height : 80vh;
    width : 100vw;
    z-index : -1;
    margin : 0px;
    opacity : 0.3;
}

/* @media (max-width){
    #home{
        display: flex;
        flex-direction: column;
        background-color: red;
    }
} */